


.grid1 {width: 523px; height: 20px;}
.grid2-gray{width: 1000px; height: 700px;}
.follow-us {width: 152px; height: 150px;}
























































































